ul{
    display: flex;
}

img.images {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 30px;
    border: 1px solid rgb(0, 204, 255)
}

body {
    background-color: rgba(0, 0, 0, 0.747);
}